.col-overlay-left {
    z-index: 9999;
    position: absolute;
    height: 100vh;
    width: 25%;
    min-width: 200px;
    top: 93px;
}

.messenger-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messenger {
    height: calc(100vh - 60px);
    border: 2px solid #222;
    display: flex;
    flex: 1;
}

.threadList {
    flex: 2.75;
    border-right: 2px solid #222;
}

.conversationTitle {
    font-size: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.threadListInput {
    width: 100%;
    padding: 8px 0;
    border-radius: 3px;
    background-color: #444;
    color: #e7e7e7;
    font-size: 14px;
}

.conversationSearch {
    padding: 10px;
}

.conversationSearch input{
    background: #555 !important;
    border-color: transparent !important;
    border-left: 1px solid !important;
}

.conversationSearch .input-group-text{
    background: #555 !important;
    border-color: transparent !important;
    color: hsla(0,0%,100%,.6) !important;
}

.group1 {
    display: flex;
    gap: 5px;
}

#messageInput {
    background: #333;
    border-color: #222;
}

.conversationSearchIcon svg {
    width: 18px;
    height: 18px;
}

.conversation {
    background-color: #222222;
}

.chatBox {
    flex: 9.25;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background-color: #303030;
}

.chatBoxWrapper-height {
    height: 89%;
}

.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
}

.chatBoxBottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #555;
    padding: 20px 20px 5px;
}

.messengerButton {
    border-radius: 6px;
    background-color: #9d9d9d;
    height: 60px;
    width: 60px;
    margin-top: 5px;
    font-size: 30px !important;
    padding-top: 4px;
}

.folderButton {
    border-radius: 6px;
    background-color: #9d9d9d;
    height: 60px;
    width: 60px;
    margin-top: 5px;
    font-size: 30px !important;
    padding-top: 4px;
}

.chatBoxBottomButtonLeft {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chatIcons2 {
    font-size: 30px !important;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 3px;
}

.chatBoxTools {
    display: flex;
    gap: 5px;
}

.chatBoxToolbutton {
    border-radius: 6px;
    background-color: #9d9d9d;
    height: 50px;
    width: 70px;
    margin-top: 5px;
    font-size: 45px !important;
}

.chatButton {
    border-radius: 6px;
    background-color: #9d9d9d;
    border-color: transparent;
    height: 35px;
    width: 35px;
    margin-top: 5px;
    font-size: 20px !important;
}

.chatMessageInput {
    width: 100%;
    height: 25px;
    padding: 10px;
    background-color: rgb(68, 65, 65);
    border-radius: 6px;
    border-color: #000000;
}

.threadListWrapper {
    background-color: #222222;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.messenger-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conversationHeader { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: #555;
    border-radius: 3px;
}

.dropdown-option::after {
    display: none !important; 
}

#dropdown-profile { 
    border-radius: 5px;
}

.profile-img {
    box-shadow: 0 0 3px 3px #2ecc71;
}

.options {
    background-color: #adb5bd;
    background: #adb5bd linear-gradient(180deg,#989fa6,#adb5bd) repeat-x;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 8px;
}

.options:hover {
    background: #2ecc71 !important;
}

.conversationOptionIcon {
    width: 35px;
    height: 35px;
    color: #444;
}

.conversationContent {
    overflow: auto;
    height: 100%;
    flex: 1;
}

.chatBox {
    width: 25%;
    min-width: 200px;
}

.messenger-comments-icon {
    position: absolute;
    bottom: 0;
    left: 0;
}
